.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;*/

  border-collapse: collapse;
  border: 3px solid #ccc;
}

/*.board-row:after {
  clear: both;
  content: "";
  display: table;
}*/

.square {
  background: white;
  border: None;
  /*float: left;*/
  font-size: 24px;
  font-weight: bold;
  line-height: 56px;
  height: 56px;
  /*margin-right: -1px;
  margin-top: -1px;*/
  /*padding: 0;*/
  /*text-align: center;*/
  width: 56px;
}

.square:focus {
  outline: none;
}

td {
  border: 1px solid #ccc;
}

td:nth-child(3n) {
  border-right: 3px solid #ccc;
}

tr:nth-child(3n) td {
  border-bottom: 3px solid #ccc;
}
