.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  border-collapse: collapse;
  border: 3px solid #ccc;
}

.square {
  color: #ccc;
  background: white;
  border: 2px solid white;
  font-family: Arial;
  font-size: 26px;
  font-weight: bold;
  height: 36px;
  line-height: 36px;
  width: 36px;
}

span {
  position: relative;
  top: -3px;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(400%);
  width: 342px;
}

@media only screen and (min-width: 600px) and (min-height: 660px) {
  .square {
    height: 56px;
    line-height: 56px;
    width: 56px;
  }
  
  .btn {
    transform: translateX(-50%) translateY(600%);
    width: 523px;
  }
}

.square:focus {
  outline: none;
  border: 2px solid #ccc;
}

td {
  border: 1px solid #ccc;
}

td:nth-child(3n) {
  border-right: 3px solid #ccc;
}

tr:nth-child(3n) td {
  border-bottom: 3px solid #ccc;
}
